/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --rich-black-fogra-29: hsl(240, 13%, 8%);
  --silver-chalice: hsl(0, 0%, 70%);
  --floral-white: hsl(38, 100%, 98%);
  --raisin-black: hsl(240, 8%, 18%);
  --sonic-silver: hsl(240, 3%, 45%);
  --mango-tango: hsl(20, 100%, 64%);
  --orange-web: hsl(39, 100%, 50%);
  --cultured: hsl(210, 17%, 98%);
  --mantis: hsl(118, 41%, 62%);
  --yellow: #eeb231;
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --onyx: hsl(0, 0%, 23%);

  --egg-with: 250px;

  --gradient: linear-gradient(
    90deg,
    hsl(38, 100%, 98%) 21.32%,
    hsl(144, 45%, 98%) 130%
  );

  /**
   * typography
   */

  --ff-poppins: "Quicksand", sans-serif;
  --ff-rubik: "Rubik", sans-serif;
  --dm-sans: "DM Sans", sans-serif;

  --fs-1: 40px;
  --fs-2: 55px;
  --fs-3: 32px;
  --fs-4: 28px;
  --fs-5: 22px;
  --fs-6: 18px;

  --fw-500: 500;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 0.2s ease-in-out;

  /**
   * spacing
   */

  --section-padding: 20px;
}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}
J button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  overflow-x: hidden !important;
  font-family: var(--ff-poppins);
}

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.btn {
  color: #30170D;
  font-family: var(--ff-poppins);
  padding: 20px 30px;
  transition: var(--transition);
  font-size: var(--fs-4);
  font-weight: 600;
  border-style: none;
  margin: 0 auto;
  max-width: 100%;
}

 .btn-secondary {
  background-color: transparent;
} 


.btn-primary {
  background: var(--orange-web);
  box-shadow: 5px 10px 30px hsla(39, 100%, 50%, 0.3);
}

.btn-primary:is(:hover, :focus) {
  background: var(--yellow);
  transform: translateY(-3px);
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--ff-poppins);
  color: var(--rich-black-fogra-29);
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1.4;
  font-weight: var(--fw-700);
}

.h2 {
  font-size: var(--fs-1);
  line-height: 1;
  font-weight: 600;
}

.h3 {
  color: var(--onyx);
  font-size: calc(var(--fs-4) - 2px);
  line-height: 1.3;
}

.card-text,
.card-subtitle {
  font-family: var(--ff-poppins);
  color: var(--black);
  font-size: var(--fs-6);
  line-height: 1.8;
  font-weight: 500;
  text-align: justify;
}

.section-text {
  font-family: var(--ff-poppins);
  color: var(--black);
  font-size: var(--fs-6);
  line-height: 1.8;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0 auto; 
  padding: 0 20px; 
  box-sizing: border-box; /* Asegura que el relleno y el borde se incluyan en el ancho total del elemento */
  max-width: 100%; 
}

@media (max-width: 768px) {
  .section-text {
    font-size: calc(var(--fs-6) - 2px); 
    padding: 0 10px; 
  }
}


@media (max-width: 500px) {
  .section-text {
    font-size: calc(var(--fs-6) - 2px); 
  }
}


@media (max-width: 400px) {
  .section-text {
    font-size: calc(var(--fs-6) - 2px); 
  }
}

.vector-line {
  display: none;
}

/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  padding-block: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  transition: padding var(--transition);
}

.header.active {
  background: var(--cultured);
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.1);
  padding-block: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 120px;
}

.logo img {
  width: 100%;
}

.menu-open-btn {
  font-size: 35px;
  color: var(--mango-tango);
}

.navbar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 100%;
  max-width: 250px;
  height: 100%;
  background: var(--white);
  padding: 80px 20px;
  transition: 0.15s ease-in;
  z-index: 3;
}

.navbar.active {
  left: 0;
  transition: 0.25s ease-out;
}

.menu-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  padding: 5px;
  background: transparent;
  color: black;
}

.navbar .logo {
  width: 160px;
  margin-bottom: 30px;
  margin-inline: auto;
}

.navbar-list {
  margin-bottom: 15px;
}

.navbar-link {
  color: var(--rich-black-fogra-29);
  font-weight: var(--fw-500);
  padding-block: 15px;
  font-family: var(--ff-poppins);
  text-align: center;

}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.7);
  pointer-events: none;
  opacity: 0;
  transition: 0.15s ease-out;
  z-index: 3;
}

.overlay.active {
  pointer-events: all;
  opacity: 1;
}

/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.container__bg {
  background: var(--gradient);
  padding: 80px 0 var(--section-padding);
}

.container__bg--circle img {
  width: 50%;
}

.mregg-img-logo {
  display: none;
}

.mregg-gif-logo {
  margin: 0 auto;
}


.container__bg  .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.hero-content h1 {
  display: inline-block;
  margin: 0 auto;
}



.hero-content .highlight {
  color: var(--yellow);
  display: inline;
  font-weight: 900;
}

.hero .section-text {
  margin-bottom: 45px;
}

/*-----------------------------------*\
 * #ABOUT
\*-----------------------------------*/

.about {
  padding-block: var(--section-padding);
}

.about-banner-2 {
  position: relative;
  margin-bottom: 45px;
  width: 50vh; 
  height: 50vh; 
  background-color: #eeb231; 
  border-radius: 50%; 
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-logo {
  display: block;
  width: 180px;
}

.about-img-2 {
  position: absolute;
  bottom: -20px; 
  left: -50%; 
  z-index: 2;
  width: 30rem; 
  height: auto; 
}

.about-text {
  margin-left: 40% !important;
  margin-bottom: 10%;
}

@media screen and (max-width: 768px) and (min-width: 569px){
  .about-img-2 {
    width: 20rem; 
    left: -55%; 
  }
  .about-banner-2 {
    width: 38vh; 
    height: 38vh; 
    background-color: #eeb231; 
    left: 20%; 

  }
  .about-text {
    margin-left: 45% !important;
    margin-bottom: 10%;
  }
  .h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 568px) and (min-width: 469px){
  .about-img-2 {
    width: 18rem; 
    left: -55%; 
  }
  .about-banner-2 {
    width: 32vh; 
    height: 32vh; 
    background-color: #eeb231; 
    left: 20%; 

  }
  .about-text {
    margin-left: 40% !important;
    margin-bottom: 10%;
  }
  .h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 410px) and (min-width: 360px){
  .about-img-2 {
    width: 12rem; 
    left: -45%; 
  }
  .about-banner-2 {
    width: 28vh; 
    height: 28vh; 
    background-color: #eeb231; 
    left: 20%; 

  }
  .about-text {
    margin-left: 37% !important;
    margin-bottom: 10%;
  }
  .h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 468px) and (min-width: 411px){
  .about-img-2 {
    width: 15rem; 
    left: -55%; 
  }
  .about-banner-2 {
    width: 28vh; 
    height: 28vh; 
    background-color: #eeb231; 
    left: 20%; 

  }
  .about-text {
    margin-left: 35% !important;
    margin-bottom: 10%;
  }
  .h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 359px) and (min-width: 300px){
  .about-img-2 {
    width: 12rem; 
    left: -55%; 
  }
  .about-banner-2 {
    width: 25vh; 
    height: 25vh; 
    background-color: #eeb231; 
    left: 20%; 

  }
  .about-text {
    margin-left: 25% !important;
    margin-bottom: 10%;
  }
  .h1 {
    font-size: 30px;
  }
}



.departments-img {
  width: 100%;
  margin: 0 auto;
}

.departments2-img {
  width: 60%;
  margin: 0 auto;
}

.mundial-logo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.about .highlight {
  display: inline;
  color: var(--yellow);
  font-weight: 900;
}

.play-btn {
  position: absolute;
  bottom: 24%;
  right: 8%;
  background: var(--white);
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  font-size: 25px;
  border-radius: 50%;
}

.play-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 1px solid var(--black);
  animation: pulseAnim 2s forwards infinite;
}

@keyframes pulseAnim {
  0% {
    transform: scale(1);
    border-color: var(--black);
  }

  100% {
    transform: scale(1.5);
    border-color: transparent;
  }
}

.about-title {
  margin-bottom: 5%;
  max-width: 90%;
}

.about .section-text {
  margin-bottom: 5%;
  margin-top: 2%;
  margin-right: 2%;
}

/*-----------------------------------*\
 * #DEPARTMENTS
\*-----------------------------------*/

.departments {
  padding-block: var(--section-padding);
  background: var(--white);
}

.departments-title {
  text-align: center;
  margin-bottom: 80px;
}

.departments-list {
  display: grid;
  gap: 10px;
  margin-bottom: 50px;
}

.departments-card {
  background: var(--white);
  max-width: 400px;
  margin-inline: auto;
  padding: 20px;
  border-radius: 25px;
}

.departments-card .card-banner {
  margin-bottom: 20px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.departments-card img {
  margin: 0 auto;
  width: 40%;
  height: 80%;
  object-fit: cover;
  transition: var(--transition);
}

.departments-card:hover img {
  transform: scale(1.05);
}

.departments-card .card-title {
  margin-bottom: 15px;
  text-align: start;
}

.departments-card .card-text {
  line-height: 1.5;
  margin-bottom: 20px;
  display: inline;
  font-size: var(--fs-5);
}

.departments-card .card-link {
  color: var(--orange-web);
  font-family: var(--ff-poppins);
  font-weight: var(--fw-500);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  transition: var(--transition);
}

.departments-card .card-link:is(:hover, :focus) {
  gap: 15px;
}

.departments .btn-primary {
  margin-inline: auto;
}

/*-----------------------------------*\
 * #JOIN
\*-----------------------------------*/

.join {
  padding-block: var(--section-padding);
}

.join-banner {
  position: relative;
  margin-bottom: 45px;
}

.join-img {
  max-width: 65%;
  margin: 0 auto;
}

.join-logo {
  width: 25%;
}

.play-btn {
  position: absolute;
  bottom: 24%;
  right: 8%;
  background: var(--white);
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  font-size: 25px;
  border-radius: 50%;
}

.play-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 1px solid var(--black);
  animation: pulseAnim 2s forwards infinite;
}

@keyframes pulseAnim {
  0% {
    transform: scale(1);
    border-color: var(--black);
  }

  100% {
    transform: scale(1.5);
    border-color: transparent;
  }
}

.join-title {
  margin-bottom: 30px;
}

.join .section-text {
  margin-bottom: 50px;
}

/*-----------------------------------*\
 * #MUNDIAL
\*-----------------------------------*/

.mundial {
  padding-block: var(--section-padding);
  background: var(--white);
}

.mundial-title {
  text-align: center;
}

.mundial-list {
  display: grid;
  gap: 30px;
  margin-bottom: 50px;
}

.mundial-card {
  background: var(--yellow);
  max-width: 250px;
  margin-inline: auto;
  padding: 20px;
  border-radius: 35%;
}

.mundial-card .card-banner {
  margin-bottom: 20px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.mundial-card img {
  width: 60%;
  height: 50%;
  object-fit: cover;
  transition: var(--transition);
  margin: 0 auto;
}

.mundial-card:hover img {
  transform: scale(1.05);
}

.mundial-card .card-title {
  margin-bottom: 5px;
}

.mundial-card .card-text {
  line-height: 1.5;
  margin-bottom: 20px;
}

.mundial-card .card-link {
  color: var(--orange-web);
  font-family: var(--ff-poppins);
  font-weight: var(--fw-500);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  transition: var(--transition);
}

.mundial-card .card-link:is(:hover, :focus) {
  gap: 15px;
}

.mundial .btn-primary {
  margin-inline: auto;
}

.mundial-content {
  display: flex;
}

/* EGG */

.egg-item {
  display: flex;
  margin-inline: auto;
  width: var(--egg-with);
  flex-direction: column;
}

.egg-middle {
  /* min-height: var(--egg-with); */
  background: var(--yellow);
  margin-top: calc(var(--egg-with) / 2 * -1);
  margin-bottom: calc(var(--egg-with) / 2 * -1);
  padding: 10px 10px 0 10px;
  z-index: 1;
}

.egg-upper img {
  width: 52%;
  height: 50%;
  object-fit: cover;
  transition: var(--transition);
  margin: 0 auto;
}

.egg-item .mundial-title {
  padding-left: 10%;
  padding-right: 10%;
}

.container__number {
  text-align: center;
}

.container__number span {
  display: inline-block;
  color: var(--white);
  font-size: var(--fs-1);
  bottom: 20px;
  font-family: var(--ff-poppins);
}

.egg-item .egg-number {
  font-size: 100px;
  text-align: center;
  color: var(--white);
  margin: 0;
  display: inline-block;
}

.egg-upper,
.egg-lower {
  min-height: var(--egg-with);
  background: var(--yellow);
  border-radius: 50%;
  padding: 10%;
  width: 100%;
  display: flex;
}

.egg-upper > * {
  width: 115px;
  height: 115px;
  margin: auto;
  margin-top: 15px;
}

/*-----------------------------------*\
 * #DEMO
\*-----------------------------------*/

.demo {
  display: none;
}

.info-egg {
  text-align: justify;
  color: var(--white);
  margin: 0;
  font-size: var(--fs-3);
}

.egg-item .egg-number {
  font-size: 120px;
  text-align: center;
  color: var(--white);
  margin-top: -19%;
  display: inline-block;
}

.egg-item .egg-number-2 {
  font-size: 120px;
  text-align: center;
  color: var(--white);
  margin-top: -2%;
  display: inline-block;
}

.egg-item .egg-number-3 {
  font-size: 120px;
  text-align: center;
  color: var(--white);
  margin-top: -2%;
  display: inline-block;
}

/*-----------------------------------*\
 * #INSTRUCTOR
\*-----------------------------------*/

.instructor {
  padding-block: var(--section-padding);
}

.instructor .title-wrapper {
  margin-bottom: 80px;
}

.instructor-title {
  margin-bottom: 30px;
}

.instructor-list {
  display: grid;
  gap: 40px;
}

.instructor-card {
  text-align: center;
}

.instructor-card .card-banner {
  margin-bottom: 30px;
  transition: var(--transition);
}

.instructor-card:hover .card-banner {
  transform: translateY(-5px);
}

.instructor-card img {
  width: 100%;
  max-width: max-content;
  margin-inline: auto;
}

.instructor-card .card-title {
  color: var(--onyx);
  font-family: var(--ff-poppins);
  font-size: var(--fs-2);
}

.instructor-card .card-subtitle {
  margin-bottom: 15px;
}

.card-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.card-social-link {
  color: var(--onyx);
  font-size: 18px;
}

/*-----------------------------------*\
 * #CTA
\*-----------------------------------*/

.cta {
  background: var(--raisin-black);
  padding-block: 50px;
}

.cta-title {
  color: var(--white);
  margin-bottom: 30px;
}

.cta-banner {
  display: none;
}

/*-----------------------------------*\
 * # REGISTER
\*-----------------------------------*/


.register-container {
  background-color: var(--white);
  width: 100%;
  padding: 0 0 0 0;
}


.register-content {
  margin: auto;
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }


 .register-content .section-btn-title {
  align-items: center;
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  font-weight: 700;
  margin-top: 2em;
  text-align: center;
 }

 .register-content .section-text {
  font-size: var(--fs-5);
  font-weight: 400;
  margin-top: 20px;
 }


 .register-content img {
  margin: 2em;
  max-width: 400px;
 }


 .register-content .btn-register {
  background-color: var(--yellow);
  border-radius: 10em;
  margin-bottom: 2em;
  margin-top: 0.5em;
 }


 .btn-register p {
  font-size: var(--fs-);
  font-weight: bolder;
  color: #30170D;
 }

 .register-text {
  align-items: center;
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  font-weight: 700;
 }


 .social-icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }


 .social-icons img {
  margin: 1vw;
  height: 7vh;
 }



/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.end-container {
  background: #e4ae42;
  width: 100%;
  padding: 50px 0;
 }
 
 .end-content {
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
 
 .contact-logo img {
  grid-column-start: logo;
  grid-column-end: contact;
  width: 250px;
 }
 
 .contact-logo {
 }
 
 .contact-block {
  border-left: 2px solid #31170e;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 350px;
 }
 
 .contact-light {
  font-size: 1em;
  color: #fff1af;
  margin-bottom: 1em;
 }
 
 .contact-dark {
  font-size: 1.2em;
  color: #31170e;
 }
 
 .download-links > a {
  background: white;
  min-width: 135px;
  padding: 10px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #1f2325;
  font-size: 0.9em;
  border-radius: 4px;
 }
 
 .download-links > a:hover {
  background: #efefef;
 }
 
 @media screen and (max-width: 1024px) {
  .end-content {
   flex-direction: column;
  }
  
  .contact-block {
   border: none;
  }
  
  .contact-logo img {
   margin: auto;
  }
  
  .end-content {
   width: 100%;
  }
 }


.footer {
  background: var(--rich-black-fogra-29);
}

.footer-top {
  padding-block: var(--section-padding);
}

.footer-brand {
  margin-bottom: 50px;
}

.footer-brand .logo {
  width: 160px;
  margin-bottom: 20px;
}

.footer-text {
  color: var(--silver-chalice);
  font-family: var(--ff-poppins);
  line-height: 1.8;
  margin-bottom: 30px;
}

.footer .social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.footer .social-link {
  background: var(--raisin-black);
  color: var(--silver-chalice);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 18px;
  border-radius: 50%;
  border: 1px solid var(--raisin-black);
  transition: var(--transition);
}

.footer .social-link:is(:hover, :focus) {
  background: var(--rich-black-fogra-29);
  color: var(--cultured);
}

.footer-link-box {
  display: grid;
  gap: 30px;
}

.footer-list {
  max-width: 230px;
}

.footer-list li:first-child {
  margin-bottom: 10px;
}

.footer-link-title {
  color: var(--cultured);
  font-family: var(--ff-poppins);
  font-size: var(--fs-4);
}

.footer-link {
  color: var(--silver-chalice);
  font-family: var(--ff-poppins);
  padding-block: 10px;
  transition: var(--transition);
}

.footer-link:is(:hover, :focus) {
  color: var(--cultured);
  transform: translateX(3px);
}

.footer .contact-item {
  padding-block: 10px;
}

.footer .contact-item span {
  display: inline-block;
  color: var(--cultured);
  font-family: var(--ff-poppins);
  font-weight: var(--fw-500);
}

.footer .contact-link {
  display: inline-block;
  color: var(--silver-chalice);
  font-family: var(--ff-poppins);
  font-weight: var(--fw-500);
}

.footer .contact-link address {
  font-style: normal;
}

.footer-bottom {
  padding-block: 20px;
  border-top: 1px solid var(--onyx);
}

.copyright {
  color: var(--silver-chalice);
  font-family: var(--ff-poppins);
  line-height: 1.7;
  text-align: center;
}

.copyright a {
  display: inline-block;
  color: inherit;
  transition: var(--transition);
}

.copyright a:is(:hover, :focus) {
  color: var(--cultured);
}

/*-----------------------------------*\
 * #GO TO TOP
\*-----------------------------------*/

.go-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--white);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 20px;
  color: var(--onyx);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  z-index: 2;
}

.go-top.active {
  opacity: 1;
  visibility: visible;
}

.go-top:is(:hover, :focus) {
  color: var(--orange-web);
}


/*-----------------------------------*\
 * #COPY
\*-----------------------------------*/

.copy-container {
  background: #2d1713;
  width: 100%;
  padding: 10px 0;
}

.copy-block {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-light {
  font-size: 1em;
  color: #fff;
  display: flex;
  align-items: center;
}

.logo-copy {
  width: 40px;
  height: auto;
  margin-left: 5px; 
}


/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

@media (min-width: 550px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 45px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .h2 {
    --fs-1: 35px;
  }

  /**
   * DEPARTMENTS
   */

  .departments-card {
    padding: 30px;
  }

  /**
   * MUNDIAL
   */

  .mundial-card {
    padding: 30px;
  }

  /**
   * INSTRUCTOR, FOOTER
   */

  .instructor-list,
  .footer-link-box {
    grid-template-columns: 1fr 1fr;
  }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 55px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 750px;
  }

  /**
   * HERO, ABOUT, JOIN
   */

  .hero-banner,
  .join-banner,
  .benefits-banner,
  .about-banner {
    max-width: 100%;
    margin-inline: auto;
  }

  .about-content {
    max-width: 600px;
  }

  .about .about-banner .about-logo {
    display: none;
  }

  /**
   * DEPARTMENTS
   */

  .departments-title {
    max-width: 600px;
    margin-inline: auto;
  }

  .departments-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * MUNDIAL
   */

  .mundial-title {
    max-width: 1000px;
    margin-inline: auto;
  }

  .mundial-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * INSTRUCTOR
   */

  .instructor-title {
    max-width: 600px;
  }

  /**
   * HERO, ABOUT, JOIN
   */

  .join-banner {
    max-width: 1600px;
    width: 1200px;
    margin-inline: auto;
  }

  /**
   * CTA
   */

  .cta {
    position: relative;
    z-index: 1;
  }

  .cta .title-wrapper {
    max-width: 60%;
  }

  .cta-banner {
    display: block;
    background: url("../images/cta-banner.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: -26px;
    left: 51%;
  }

  /**
   * FOOTER
   */

  .footer-text {
    max-width: 400px;
  }
}

@media (max-width: 768px) {

  .register-content {
    width: 90%;

  }


 .register-content img {
  max-width: 200px;
 }
 
}

/**
 * responsive for larger than 1024px screen
 */

@media (min-width: 1024px) {

  .end-respondive {
    margin-top: 5vh !important;
   }
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 65px;
  }

  /**
   * REUSED STYLEabout-content
   */

  .container {
    max-width: 950px;
  }

  .h2 {
    --fs-1: 40px;
  }

  .vector-line {
    display: block;
    position: absolute;
  }

  /**
   * HEADER
   */

  .header .logo {
    margin-right: 25px;
  }

  .menu-open-btn,
  .menu-close-btn,
  .navbar .logo {
    display: none;
  }

  .navbar {
    position: static;
    max-width: unset;
    height: unset;
    background: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-list {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  

  .navbar-link {
    position: relative;
    font-size: var(--fs-5);
    padding: 20px 25px;
  }

  .navbar-link::after {
    --scale: 0;

    content: "";
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%) scale(var(--scale));
    background: var(--orange-web);
    width: 30px;
    height: 2px;
    border-radius: 2px;
    opacity: 0.5;
    transition: var(--transition);
  }

  .navbar-link:is(:hover, :focus)::after {
    --scale: 1;
  }

  .overlay {
    display: none;
  }

  /**
   * HERO
   */

  .hero .container {
    display: grid;
    grid-template-columns: 4fr 6fr;
    align-items: center;
    gap: 50px;
  }

  .hero-banner {
    margin-bottom: 0;
    order: 1;
  }

  /**
   * ABOUT
   */


  .about {
    margin: 150px;
  }

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }

  .about-banner {
    position: relative;
    margin-bottom: 0;
  }

  .about-banner .vector-line {
    width: 400px;
    bottom: 50px;
    left: -50px;
  }

  .play-btn {
    width: 100px;
    height: 100px;
  }

  .about-content {
    max-width: unset;
  }

  .about-banner .about-logo {
    display: none;
  }

  /**
   * DEPARTMETNS
   */

  .departments {
    position: relative;
    z-index: 1;
  }

  .departments-title {
    max-width: 500px;
  }

  .departments-list {
    grid-template-columns: repeat(4, 1fr);
    padding-right: 5%;
    padding-left: 5%;
  }

  .departments-card {
    height: 100%;
  }

  .departments-list li {
    position: relative;
  }

  .departments-list li::after {
    content: "";
    position: absolute;
    top: calc(50% - (0.5 * (1.5em * 3.6)));
    height: calc(1.5em * 9);
    right: 7px;
    width: 1px;
    background-color: #000;
    pointer-events: none;
  }

  .departments-list li:last-child::after {
    display: none;
  }

  /**
   * JOIN
   */

  .join .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }

  .join-banner {
    position: relative;
    margin-bottom: 0;
  }

  .join-btn {
    width: 100px;
    height: 100px;
  }

  .join-content {
    max-width: unset;
  }

  /**
   * INSTRUCTOR
   */

  .instructor {
    position: relative;
    z-index: 1;
  }

  .instructor .vector-line:first-child {
    top: 50px;
    left: 0;
    z-index: -1;
  }

  .instructor .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .instructor-title {
    max-width: 500px;
    margin-bottom: 0;
  }

  .instructor-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .instructor .vector-line:last-child {
    bottom: -100px;
    left: 0;
    z-index: -1;
  }

  /** 
  MUNDIAL
  */




  .mundial {
    position: relative;
    z-index: 1;
  }

  .mundial .vector-line {
    top: 100px;
    right: 0;
    z-index: -1;
  }

  .mundial-title {
    max-width: 500px;
  }

  .mundial-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .mundial-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  /**
   * CTA
   */

  .cta .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .cta-title {
    position: relative;
    margin-bottom: 0;
    width: calc(100% - 200px);
  }

  .cta-title .vector-line {
    right: -20px;
    bottom: 0;
  }

  .cta-banner {
    left: 60%;
    width: 320px;
    bottom: -39px;
  }

  /**
   * FOOTER
   */

  .footer-link-box {
    grid-template-columns: repeat(4, 1fr);
  }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1024px) {
  /**
   * REUSED STYLE
   */

  .container__bg {
    width: auto;
    height: 100vh;
    background-image: url("../images/fondo-mregg.png");
    background-size: auto;
    position: relative;
    filter: brightness();
    overflow-y: hidden;
  }

  .container {
    max-width: 100%;
  }


  .mundial .container {
    margin-top: 30px;
    max-width: 50%;
  }
  
  .mundial-list {
    margin-top: 50px;
  }


  .container__bg--circle {
    position: absolute;
    left: 0;
    transform: translate(-45%, -15%);
    width: 80%;
    padding-bottom: 80%;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
  }

  .mregg-gif-logo {
    display: none;
  }
  
  .mregg-img-logo {
    display: block;
  }


  .container__bg--circle .hero-content {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-30%, -30%);
    width: 40%;
  }

  .container__bg--circle .hero-content h1 {
    font-size: 70px;
    color: var(--white);
    font-weight: 600;

  }

  .container__bg--circle .hero-content .highlight {
    color: var(--yellow);
    display: inline;
    font-weight: 600;
    font-size: 70px;
  }

  .container__bg  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
  }

  .hero-content h1 {
    margin: 0;
  }

  .container__bg--circle figure {
    position: absolute;
    top: 30%;
    left: 38%;
    transform: translate(10%, -30%);
    z-index: 2;
  }

  .container__bg--circle figure img {
    /* max-width: 100%; */
    height: 20%;
    height: auto;
    margin-left: 18%;
    
  }


  .btn {
    margin: 0;
  }

  /* MUNDIAL */

  .mundial-content {
    display: flex;
    justify-content: space-evenly;
  }

  .flex-1024{
    display: flex !important;
  }
  .flex-1023{
    display: none !important;
  }

}
/* DEMO */


.demo {
  display: block;
  background-color: #30170D;
}

.footer-background {
  --top-breakpoint: 25%;
  --bottom-breakpoint: 87%;
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) var(--top-breakpoint), rgba(49,23,14,1) var(--top-breakpoint), rgba(49,23,14,1) var(--bottom-breakpoint), rgba(255,255,255,1) var(--bottom-breakpoint), rgba(255,255,255,1) 100%);
  color: white;
  font-family: 'Quicksand', sans-serif;
 }
 
 .footer-container {
  max-width: 1200px;
  margin: auto;
 }
 
 .footer-cta-title {
  display: inline-block;
  font-size: 3.5em;
  margin-bottom: 0;
  font-weight: 300;
 }
 
 .footer-cta-text {
  margin: 0;
  font-size: 10em;
 }

 .footer-title {
  display: flex;
  align-items: flex-end;
 }
 
 .footer-title img {
  width: 200px;
  margin-right: 1em;
 }
 

/**
   * DEPARTMENTS
   */

.departments-title {
  max-width: 550px;
}


.departments-line {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 50px;
  border-bottom: 1px solid #31170e;
}

/**
   * INSTRUCTOR
   */

.instructor {
  padding-bottom: 150px;
}

/**
   * MUNDIAL
   */

.mundial-title {
  max-width: 900px;
}

/* DEMO */

/**
   * CTA 
   */

.cta .title-wrapper {
  max-width: 64%;
}

.cta-banner {
  left: 68%;
}

.fondo-beneficios {
  background-color: #e6e7e9;
  height: 50vh;
  position: relative;
  z-index: 0;
  overflow: visible;
  width: 100%;
}

.fondo-beneficios img {
  position: absolute;
  right: 0%;
  bottom: 0%; 
  z-index: 1; 
  height: auto;  
  width: auto;
  max-width: 60%; 
}

@media screen and (max-width: 1023px){
  .container__bg {
    height: 100vh;
    background-image: url("../images/Portada.png");
    background-size: cover;
    position: relative;
    filter: brightness();
    overflow-x: hidden !important;
  }
  .container__bg--circle .hero-content {
    position: absolute;
    top: 38vh;
    left: 40%;
    transform: translate(-30%, -30%);
    width: 100%;
  }
  .container__bg--circle img {
    width: 50%;
    top: 30%;
  }
  .flex-1024{
    display: none !important;
  }
  .flex-1023{
    display: block !important;
  }
  .h1-2{
    position: relative;
    top: 60vh !important;
    left: 3vh !important;
  }
  .container__bg--circle h1 {
    font-size: 40px;
    color: var(--white);
    font-weight: 600;

  }

  .container__bg--circle .highlight {
    color: var(--yellow);
    display: inline;
    font-weight: 600;
    font-size: 40px;
  }
  .fondo-beneficios {
    background-color: #e6e7e9;
    height: 30vh;
    position: relative;
    z-index: 0;
    overflow: visible;
    width: 100%;
  }
  
  .fondo-beneficios img {
    position: absolute;
    right: -10%;
    bottom: 0%; 
    z-index: 1; 
    height: auto;  
    width: auto;
    max-width: 100%; 
  }

  .departments-list li::after {
    content: "";
    position: absolute;
    width: 85%; 
    left: 50%; 
    transform: translateX(-50%); 
    height: 1px;
    background-color: #000;
    pointer-events: none;
}


  .departments-list li:last-child::after {
    display: none;
  }

  .contact-logo img {
    width: 150px;
    margin-top: -80%;
   }

   .end-respondive {
    margin-top: 15vh !important;
   }

}

.about-text-2 {
  margin-top: 5% ;
  margin-bottom: 5%;
}

.inline-title h3,
.inline-title p {
  display: inline;
}

.mundial .highlight {
  display: inline;
  color: var(--yellow);
  font-weight: 900;
}

.highlight-2 {
  display: inline;
  color: var(--yellow);
  font-weight: 900;
}

/* Estilos para pantallas de 768px o menos */
@media (max-width: 768px) {
  .mundial-content {
    flex-direction: column;
    align-items: center;
  }

  .mundial-logo {
    margin-bottom: 20px;
  }

  .about-text-2 {
    text-align: center;
  }
}

/* Estilos para pantallas de 769px o más */
@media (min-width: 769px) {
  .mundial-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .mundial-logo {
    margin-right: 20px;
  }

  .about-text-2 {
    flex: 1;
    text-align: left;
  }
}

/* Estilos comunes */
.mundial-content {
  display: flex;
}

.mundial-logo {
  width: 150px;
  height: 150px;
}

.download-icon {
  font-size: 20px; 
  display: inline-block;
  vertical-align: top;
}

/* CONTACTO */

.contact {
  background-color: #fff !important;
}

.contact-title {
  text-align: center;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: -5px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 15px;
  border: 1px solid #eeb231;
  width: 100%;
  font-size: 1.5rem;
  background-color: transparent;
  color: black;
  border-radius: 4px;
  border-radius: 50px;

}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 80%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: flex;
  background-color: #eeb231;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  justify-content: center;
  border: none;
  width:100%;
}

.submit-btn:hover {
  transform: translateY(5px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}

.beneficios-title {
  position: absolute;
  font-size: 15vh; 
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


.arrow-icon {
  position: absolute;
  color: black;
  font-size: 15vh;
  z-index: 2;
  left: calc(50% - 50vh);
  top: 30%;
  transform: translateY(-50%) rotate(-45deg);
}


/* Para pantallas menores a 1024px */
@media (max-width: 1024px) {

  .beneficios-title {
    font-size: 13vh;
    top: 85%;
    left: 40%
  }

  .arrow-icon {
    font-size: 12vh;
    left: 25%;
    top: 55%;
  }
  .footer-cta-title {
    font-size: 2.4em;
   }
   .footer-cta-text {
    font-size: 6.5em;
    text-align: center;
   }
   .footer-title img {
    width: 180px;
    margin-right: 1em;
    }
}

/* Para pantallas menores a 768px */
@media (max-width: 768px) {

  .beneficios-title {
    font-size: 10vh;
    top: 90%;
    left: 45%
  }

  .arrow-icon {
    font-size: 8vh;
    left: 30%;
    top: 70%;
  }
  .footer-cta-title {
    font-size: 2em;
   }
   .footer-cta-text {
    font-size: 4.5em;
    text-align: center;
   }
   .footer-background {
  --bottom-breakpoint: 91%;
 }
 .footer-title img {
  width: 150px;
  margin-right: 1em;
  }
}

/* Para pantallas menores a 576px */
@media (max-width: 576px) {

  .beneficios-title {
    font-size: 9vh;
    top: 90%;
    left: 45%
  }

  .arrow-icon {
    font-size: 8vh;
    left: 30%;
    top: 75%;
  }
  .footer-cta-title {
    font-size: 2em;
   }
   .footer-cta-text {
    font-size: 4.5em;
    text-align: center;
   }
   .footer-background {
  --bottom-breakpoint: 91%;
 }
 .footer-title img {
  width: 150px;
  margin-right: 1em;
  }
}

/* Para pantallas menores a 500px */
@media (max-width: 500px) {

  .beneficios-title {
    font-size: 7vh;
    top: 90%;
    left: 45%
  }

  .arrow-icon {
    font-size: 6vh;
    left: 30%;
    top: 75%;
  }
  .footer-cta-title {
    font-size: 1.8em;
   }
   .footer-cta-text {
    font-size: 3.5em;
    text-align: center;
   }
   .footer-background {
  --bottom-breakpoint: 93%;
 }
 .footer-title img {
  width: 150px;
  margin-right: 1em;
  }
}

/* Para pantallas menores a 400px */
@media (max-width: 400px) {

  .beneficios-title {
    font-size: 6vh;
    top: 90%;
    left: 45%
  }

  .arrow-icon {
    font-size: 5vh;
    left: 30%;
    top: 75%;
  }
  .footer-cta-title {
    font-size: 1.6em;
   }
   .footer-cta-text {
    font-size: 3em;
    text-align: center;
   }
   .footer-background {
  --bottom-breakpoint: 95%;
 }
 .footer-title img {
  width: 150px;
  margin-right: 1em;
  }
}

@media (max-width: 460px) {
  .copy-light {
    font-size: 0.8em;
  }
}



.container-2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.form-container,
.social-container {
  width: 100%;
}

/* Media Query for screens larger than 769px */
@media (min-width: 769px) {
  .content-wrapper {
    flex-direction: row;
  }

  .form-container,
  .social-container {
    width: 50%;
  }

  .social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .departments-list li:nth-child(2)::after {
    display: none;
  }
}